[redis]
host={{redis_container_ip}}
port=6379
db=0

[app]
debug=true

[socketio]
port=5000
secret='energynet is the best game ever'
expire_token=86400

[urls]
game_api=/game_api
auth_api=/auth

[logger]
file=energynet.log
level=debug

[db]
url=postgresql://postgres:postgres@{{postgres_container_ip}}/energynet_dev
migrations=db/migrations
